<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kfc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckoutActivity"></activity>
        <activity android:name=".BucketItemDetailsActivity" />
        <activity android:name=".ItemDetails" />
        <activity
            android:name=".MenuDetails"
            android:label="MENU DETAILS"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Menu"
            android:label="MENU" />
        <activity android:name=".Promotion_Deals" />
        <activity
            android:name=".BucketActivity"
            android:label="BUCKET" />
        <activity
            android:name=".Home_Page"
            android:label="@string/home_page" />
        <activity
            android:name=".MoreActivity"
            android:label="MORE" />
        <activity
            android:name=".RegisterActivity"
            android:label="REGISTER"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="REGISTER"
            android:theme="@style/Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyForegroundServiceClass" />
    </application>

</manifest>